# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.env
.venv/
env/
venv/
/base1.html
# Django stuff:
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
media/
static/
/base1.html

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/